# Database
DATABASE_URL="postgresql://username:password@localhost:5432/bike_journey_db"

# Spline
NEXT_PUBLIC_SPLINE_SCENE_URL="https://prod.spline.design/XXXXXXXXXXXX/scene.splinecode"

# Analytics
NEXT_PUBLIC_ANALYTICS_ENABLED=true

# Admin
ADMIN_SECRET_KEY="your-secret-admin-key-here"
